<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Portfolio.WebApi-20150714090754.mdf;Initial Catalog=aspnet-Portfolio.WebApi-20150714090754;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MongoServer" connectionString="mongodb://localhost:27017/Portfolio;" />
  </connectionStrings>
  <appSettings>
  <add key="DbName" value="Portfolio" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.5639" newVersion="1.2.0.5639" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>