<connectionStrings>
  <clear/>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Portfolio.WebApi-20150714090754.mdf;Initial Catalog=aspnet-Portfolio.WebApi-20150714090754;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="MongoServer" connectionString="mongodb://localhost:27017/Portfolio;" />
  <!--test-->
</connectionStrings>
