<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'michaelquinn.azurewebsites.net' in resource group 'Group' -->
  <InstrumentationKey>22e76e73-8efe-49c1-bb14-9b760c044b32</InstrumentationKey>
  
</ApplicationInsights>